:root{
    font-size: 16px;
    --second-background-color:#668E68;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
main{
    margin:0 auto
}
.shadows-into-light-400 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .zen-kaku-gothic-500 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.noto-sans-georgian-500 {
  font-family: "Noto Sans Georgian", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.rounded-img{
    border: 0.8rem solid #81613B;
    overflow: hidden;
}
.title-block{
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.my-card{
    margin: 1rem auto;
}
.buttons-text{
    color: white;
    text-decoration: none;
}
header{
background-color:var(--second-background-color);
}
.fourth-block{
background-color:rgba(129, 97, 59, 0.2);
}
footer{
    margin: 0;
}
i{
    padding: 0.5rem;
}
