
.inter-400{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-500{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .inter-800{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  *{
    box-sizing: border-box;
  }
  body{
    background-image: url(../images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 20px;
    margin: 0;
  }
  main{
    max-width: 1728px;
    margin: 0 auto;
    padding: 1.9%;
  }

  header{
    width: 95.77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
  }
  .logo{
    padding-right: 3.2%;
  }
  .apper{
    padding-right: 1.15%;
  }
  .date{
    color:rgb(200, 200, 200) ;
  }
  
  .nav-left{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .nav-right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
  }
  .nav-right a{
    width: 8.02%;
    height: 22.02%;
    padding-right:1.07% ;
    color: rgb(255, 255, 255);
  }
  .nav-right img{
    margin-left: 25px;
  }
  
 .over-heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8.10%;
 }
 .over-heading p{
    padding-right: 1.15%;
 }
 .description {
    color: rgb(167, 166, 166);
 }
 .gray{
    color: rgb(167, 166, 166);
 }
 .description-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    margin-left: -37px;
 }
 .list-item{
    padding-right: 3.2%;
 }
 .rating{
    width: 12.26%;
    font-size: 26px;
 }
 .yellow{
    color: #FFEA2B;
   }
   .rating i{
    width: 32px;
    height: 23.53px;
    padding-right: 14px;
   }
 .left-button{
    width:272px;
    height:64px;
    background-color: rgb(213, 13, 31);
    border-radius: 10px;
    margin: 4.84% 5.20% 4.84% 0;
    font-size: 23px;
 }
 .right-button{
    background: none;
    width: 184px;
    height: fit-content;
    border: 3px solid white;
    border-radius: 10px;
    padding: 16px 29px 16px 18px;
    text-wrap: nowrap;
    font-size: 20px;
 }
 .buttons a{
 color: #FFF;
 text-decoration: none;
 }
 .left-button i{
    padding-left: 7px;
 }
 h2{
    font-size: 22px;
  
 }
 .icons-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.86%;
    font-size: 18px;
 }
 .icons a{
   width: 32px;
   height: 32px;
    color: #FFF;
    border: 1px solid white;
    border-radius: 50%;
    /* margin-right:0; */
    padding: 6px;
    display: inline-block;
    text-align: center;
 }
 .icons a :last-child{
    margin-right: 0;
 }
 .block-images{
    width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
 }
 block-images a{
    width: 15%;
    margin-right: 2.89%;
 }
 .limiter{
   width: 174px;
    height: 34px;
    position: fixed;
    right:-59px;
    bottom: 9.31%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }
 .red-part{
    background-color: rgb(213, 13, 31);
    width: 32px;
    height: 66px;
 }
.grey-part{
    width:82px ;
    height:66px;
    background-color: rgba(255, 255, 255, 0.49);
 }
 .limiter p{
    font-size: 24px;
    padding: 15px 3px 3px 19px;
    margin: 0 auto;
    text-align: center;
 }



 
 
 




