body{
    background-color:#FFEFEF;
    box-sizing: border-box;
}
.content-block{
    background-color: #FFFFFF;
    width: 916px;
}
h1{
    width: 637px;
    height: 49px;
    font-size: 40px;
    align-items: center;
    margin-top: 42px;
    margin-left: 138px;
    margin-right: 141px;
}
h2{
    font-size: 32px;
}
p{
    font-size: 16px;
}
.linc-style{
    color: #0029FF;
}
.first-image{
    width: 300px;
    height: 300px;
    margin-top: 54px;
    margin-right: 309px; 
    margin-left:307px ;
}
.first-heading{
   margin-left: 25px;
   margin-bottom: 9px;
   margin-right: 743px;
}
.content-text{
    margin-left: 25px;
    margin-right: 23px;
}
.second-image{
    width: 400px;
    height: 400px;
    margin-top: 62px;
    margin-right: 491px;
    margin-left: 25px;

}
.second-heading{
    margin-left: 6px;
  margin-left: 762px;
  margin-bottom: 14px;
}
.third-image{
    width: 420px;
    height: 400px;
    margin-top: 46px;
    margin-left: 473px;
    margin-right: 23px;
}
.third-heading{
    margin: 9px 383px 9px 385px;
}
.forth-image{
    width: 400px;
    height: 400px;
    margin: 31px 234px 48px;
}
.forth-heading{
    margin-right: 798px;
    margin-bottom: 9px;
    margin-left: 25px;
}
.fifth-image{
    width: 866px;
    min-height: 467px;
    margin-top: 9px;
    margin-right: 24px;
    margin-left: 25px;
}
.fifth-heading{
   margin: 0 397px 9px 399px;
}
.sixth-image{
    width: 811px;
    height: 420px;
    margin:48px 51px 9px 54px;
}
.sixth-heading{
    margin: 9px 397px 9px 399px;
}
.seventh-image{
    width: 450px;
    height: 458px;
    margin: 47px 418px 32.12px 25px;
}
.seventh-heading{
    margin: 0 23px 9px 809px;
}
.eighth-imaage{
    width: 454px;
    height: 452px;
    margin-top: 54px;
    margin-right: 23px;
    margin-left: 439px;
}
.eighth-heading{
margin-right: 777px;
margin-bottom: 11px;
margin-left: 24px;
}
