h1{
 background-color: orange; 
}
h1{
    background-color: blue;
}
h2,h3,h4{
    background-color: blueviolet;
    color: white;
}

section p{
    background-color: aquamarine;
}
p{
    color: black;
}
.center-content{
    text-align: center;
}
.right-content{
    text-align: right;
}
li:hover{
    color:rgba(169, 19, 19, 0.516) ;
}