
:root{
   --main-font-size: 16px;
   --main-text-color:rgb(255, 255, 255);
  --second-text-color:rgb(255, 183, 66);
  --third-text-color:rgb(33, 37, 41);
  --main-background-color:#212529;
  --dark-background-color:#292B2E;
  --light-background-color:#FFF;
  --bright-background-color:rgb(255, 183, 66);
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-700{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .roboto-400 {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-700 {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-thin-100 {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: italic;
  }
  .work-sans-600 {
   font-family: "Work Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
 }
 .work-sans-700 {
   font-family: "Work Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
 }
 .work-sans-500 {
   font-family: "Work Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
 }
  *{
    box-sizing: border-box;
  }
  body{
    background-color: #E5E5E5;
  }
   main{
    max-width: 90rem;
   background-color: var(--main-background-color);
   padding-right: 2.43%;
   padding-left: 3.47%;
    margin: 0 auto;
   }
   nav{
    width: 93.19%;
    padding: 1.06rem 3rem  6.75rem 3.12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
   }
   .list-item{
    color:var(--main-text-color);
     margin-right: 1.56rem;
   }
   .list-item:last-child{
    margin-right: 0;
   }
   li a{
    color: var(--main-text-color);
   }
   .list-item:hover{
    color: var(--second-text-color);
   }
   .list{
    width: 31.96%;
    padding: 0.62rem;
    display: flex;
    flex-direction: row;
   }
   .nav-button{
    width: 8.31rem;
    height: 3.18rem;
    background-color: var(--bright-background-color);
    border-radius: 3.12rem;
    border: none;
   }

   .nav-button a{
    color: var(--third-text-color);
    font-size: 1.12rem;
    text-decoration: none;
    padding: 0.68rem 2rem;
    text-wrap: nowrap;
   }
   .first-screeng{
   width: 100%;
   }
   .title-wrapper{
    width: 66.87%;
    margin: 0 auto 8.51rem;
   }

   .main-title{
    color: var(--main-text-color);
    font-size: 3rem;
    margin: 2.93rem auto 1.566rem;
   text-align :center;
   }
   .title-wrapper h2{
    font-size: 2rem;
    color:var(--main-text-color);
    text-align: center;
   }
   .title-wrapper h3{
    font-size: 1.5rem;
    color: var(--main-text-color);
    text-align: center;
   }
   .avatar{
    width: 13.12rem;
    height: 13.92rem;
    margin: 1.37rem auto 8.51rem;
    text-align: center;
   }
   span{
    color: var(--second-text-color);
   }
.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.card{
    font-size: 2rem;
    min-width: 28.88%;
    height: 7.5rem;
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 1.87rem;
    margin-right: 1.5rem;
    border-radius: 0.62rem;
}

p{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards :first-child{
margin-left: 1.37rem;
}

.card img{
    width: 4rem;
    height: 4rem;
    margin-right: 1.37rem;
}

.card:hover{
    background-image: linear-gradient(to right, #FFB742, #FF7B42);
}
.cards p>span:hover{
    color: var(--third-text-color);
}
.cards p:hover{
   color:var(--third-text-color);
}
.other-text{
    font-size: 2rem;
    color: var(--second-text-color);
}
.card p,i{
    color: var(--main-text-color); 
    font-size: 1rem;
    text-wrap: nowrap;
 }
 .description{
    width: 100%;
    margin-top: 10.43rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 7.94rem;
 }
 .part-left{
    width: 50%;
 }
 .deck-image{
 max-width: 30rem;
  max-height: 16rem;
 }
 .part-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.15rem 1rem 6.49rem 4.25rem;
 }
 .deck-title{
    color: var(--main-text-color);
    font-size: 3rem;
 }
 .deck-text{
    color: var(--main-text-color);
    margin-top: 1.84rem;
    margin-bottom: 3.40rem;
    text-align: start;
 }
 .top-button{
   min-width: 10.06rem;
    height: 3.62rem;
    background-color: var(--dark-background-color);
    border-radius: 3.12rem;
    border: none; 
    padding: 0.37rem 1.56rem;
    margin-bottom: 1.89rem;
 }
 .top-button a{
    color: var(--second-text-color);
    font-size: 1.87rem;
    text-decoration: none;
    margin-right: 0.62rem;
 }
 .but-button{
   min-width: 9.16rem;
    height: 3.87rem;
    background-color: var(--bright-background-color);
    border-radius: 3.12rem;
    border: none;
    padding: 0.75rem 1.62rem;
 }
  .but-button a{
    font-size: 1.87rem;
    text-decoration: none;
color: var(--third-text-color)
  }
  .skills{
    width: 100%;
    padding-bottom: 7.27rem;
    display: flex;
    flex-direction: row;
  }
  .skills-part-left{
    width: 51%;
  }
  .skills-tittle{
    font-size: 3rem;
    color: var(--main-text-color);
  }
  .skills-text{
    color: var(--main-text-color);
    text-align: start;
    margin-top: 1.84rem;
    margin-bottom: 3.95rem;
  }

  .skills-part-right{
    width: 49%;
    margin-right: 1rem;
   
  }
  .icons-wrapper{
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 6.06rem; 
  }
  .icon{
    width: 5rem;
    height: 5rem;
    background-color: var(--dark-background-color);
    border-radius: 0.62rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .end{
    margin-right: 0;
  } 
  .icon:hover{
    background-color: rgb(255, 183, 66, 50%);
  }
 .works{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .work-title{
font-size: 3rem;
color: var(--main-text-color);
text-align: center;
 }
 .list-wrapper{
    display: flex;
    flex-direction: row;
    row-gap: 1.5rem;
    color: var(--main-text-color);
    padding-top: 1.87rem;
    padding-bottom: 3rem;
 }
 .list-wrapper a{
    padding: 0.31rem 1.25rem;
 }
 .list-wrapper li{
width: fit-content;
height: fit-content;
margin-right: 1.5rem;
padding: 0.31rem 1.25rem;
 }
 .list-wrapper li:hover{
    background-color: var(--bright-background-color);
 }
 .list-wrapper a:hover{
    color: var(--third-text-color);
 }
 .posters-wrapper{
   max-width: 90%;
   display: flex;
   flex-direction: row;
 }
 .posters{
   max-width: 35%;
 }
 .posters img{
   max-width: 90%;
 }

 .a-var{
    margin: 0 1.48rem 1.95rem 0;
 }
 .b-var{
   margin-top: 2.5rem;
    margin-right: 1.68rem;
 }
 .c-var{
    margin-bottom: 2.14rem;
 }
 .e-var{
    margin: 0 0 1.89rem 2.47rem;
 }
 .f-var{
   margin-top: 2.81rem;
    margin-left: 2.31rem;
 }
 .testimonials{
   max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.47rem 5.75rem 11.93rem 2.8rem;
 }
 .test-cards{
   max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .test-card{
    width: 31.16%;
    background-color: var(--light-background-color);
    border-radius: 0.5rem;
    padding: 3.18rem 3.24rem 3.04rem 2.06rem;
    margin-right: 2.5rem;
 }
 .test-cards :last-child{
   margin-right: 0;
 }

 .test-title{
    font-size: 2.45rem;
    color: var(--main-text-color);
    margin: 0.51rem auto 5.54rem;
 }
 .retting i{
    color: var(--second-text-color);
 }
 .text-test-card{
    margin: 1.36rem 0 2.30rem 0 ;
 }
 .text-test-card p{
    text-align: start;
 }
 .ava-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .ava-text{
    margin-left: 1.5rem;
 }
 footer{
    max-width:90rem;
    margin: 0 auto;
    background-color: #1C1C1C;
 }
 .foot-cards{
    width: 100%;
    padding: 8.96rem 3rem 5.87rem 3.12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
 }
 .edge{
    max-width: 23%;
 }
 .middle{
    max-width: 10%;
 }
 .edge h3{
color: var(--second-text-color);
font-size: 2rem;
 }
 .foot-cards h4{
    font-size: 1.35rem;
    color: var(--main-text-color);
 }
.foot-text{
    font-size: 1.25rem;
   color: var(--main-text-color);
   margin-top: 1.93rem;
   text-align: start;
 }
 ul a{
    color:rgb(123, 123, 123);
    text-decoration: none;
 }
 ul a:hover{
    color: rgb(255, 183, 66);
 }input{
    background-color: #1C1C1C;
    border: none;
    color: rgb(123, 123, 123);
    margin-top: 0.81rem;
    padding: 0.5rem;
 }
 .foot-list-item{
margin-top: 0.81rem;
 }
 @media screen and (max-width :37.5rem){
  body{
   background-color: pink;
  }
  nav{
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: space-between;
  }
  .cards{
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: space-between;
   column-gap: 0.5rem;
  }
  .card{
   margin-bottom: 1.5rem;
  }
  .description{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
  .part-right{
   max-width: 100%;
  }
  .deck-image img{
   max-width: 70%;
   text-align: center;
  }
  .list-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
  }
  .posters-wrapper{
   max-width: 35rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .posters{
   max-width: 100%;
  }
  .poster img{
 max-width: 30rem;
  }
  .c-var,.e-var{
   margin-top: 1rem;
  }
  .testimonials{
   max-width: 100%;
   padding: 5rem 2rem ;
  }
  .test-cards{
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
 
  .test-card{
   width: 90%;
   margin: 2rem auto;
  }
  .test-cards :last-child {
   margin-right: 0;
  }
  .foot-cards{
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .edge,.middle{
   max-width: 90%;
   margin-bottom: 2rem;
  
 }
}

 






















 












