

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #F7B3B3;
    margin: 0;
}
main{
width: 360px;
background-color: #FFF;
margin: 15px auto;
padding: 56px 20px 91px 24px;
color: rgb(0, 48, 73);
font-size: 16px;
border-radius: 25px;
}
.search-input{
    width: 320px;
    background-color: #EFEFEF;
    padding: 15px 15px 14px 15px;
    border-radius: 15px;
    margin-top: 17px;
    margin-bottom: 29px;
    border: none;
}
.cards{
    width: 100%;
    display:flex;
}
.card{
    width: 74px;
    margin-right: 24px;
    text-align: center;

}
.card:last-child{
    margin-right: 0;
}
.card-image{
    width: 74px;
    height: 74px;
    background-color:rgb(239, 239, 239);
    border-radius: 12px;
    padding-top: 20px;
}
.card h3{
margin-top: 8px;
line-height: 19px;
color: rgb(196, 196, 196);
}

.block-card{
    width: 316px;
    border: 2px solid #80808012;;
    border-radius: 15px;
    border-style: outset;
    margin-bottom: 12px;
    display: flex;
}
.block-card-image{
   width: 70px;
   height: 70px;
     margin: 5px 16px 14px 16px;
}
p{
    color: #D62828;
    text-align: left;
    margin: 8px 0 22px;
}
h3{
    text-align: center;
   margin: 22px 0 8px;
}
 .card:hover .card-image{
    background-color: rgb(234, 226, 183);
 }
 .card:hover h3{
    color:rgb(0, 48, 73);
 }